@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.all-services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.all-services-header {
    margin-top: 70px;
    margin-left: 7%;
    display: flex;
    align-items: center; 
}

.all-icon-r{
    margin-right: 8px; 
    font-size: 20px; 
    color: #3FAB3E; 
}

.all-services h3 {
    font-size: 15px;
    color: #3FAB3E;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

.all-services h1 {
    margin-top: 0;
    margin-left: 7%;
    font-size: 24px;
    font-family: 'Days One', sans-serif;
    margin-bottom: 40px;
}


.all-services-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 20px;                              
    margin-top: 10px;
    margin-left: 7%;
    margin-bottom: 10px;
    background-color: white;
}

.all-service-box {
    display: flex;
    align-items: center;
    max-width: 28vw;        
    width: 28vw;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1),   
                -3px 3px 10px rgba(0, 0, 0, 0.1),  
                0px 5px 15px rgba(0, 0, 0, 0.2);   
}

.all-service-photo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 8px;
}

.all-service-title {
    font-size: 18px;
    color: #3FAB3E;
    font-family: 'Days One', sans-serif;
    margin: 0px;
}

.all-lastRec {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 50px;
    margin: 30px auto;
    border: 1px solid #3FAB3E;
    transition: background-color 0.3s ease;
    background-color: transparent;
    cursor: pointer; 
    text-decoration: none; 
}

.all-lastRec:hover {
    background-color: green;
}

.all-lastRec span {
    color: #3FAB3E;
    font-family: 'Days One', sans-serif;
    font-size: 14px;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

.all-lastRec:hover span {
    color: white;
}

