.App {
  text-align: center;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3FAB3E;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 9999; 
  pointer-events: auto; 
  border: 2px solid white;
}

.scroll-to-top:hover {
  background-color: green;
}

.footer-main {
  margin-top: 100px;
  background-color: #3FAB3E; 
  color: white;
  text-align: center; 
  padding: 20px 0; 
  position: relative;
  width: 100%; 
}