.review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; 
}

.review-header {
    margin-top: 70px;
    margin-left: 7%;
    display: flex;
    align-items: center; 
}

.review h3 {
    font-size: 15px;
    color: #3FAB3E;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    /* margin-bottom: 10px; */
}

.review h1 {
    margin-top: 0;
    margin-left: 7%;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    margin-bottom: 40px;
}

.icon {
    margin-right: 8px; 
    font-size: 20px; 
    color: #3FAB3E !important; 
    /* margin-bottom: 10px; */
}

@media (max-width: 895px) {

    .review h1, .review h3 {
        text-align: center; 
    }

    .review{
        align-items: center;
    }

    .review-header{
        margin-left: 0;
    }

    .review h1{
        margin-left: 0;
    }

}
