.review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; 
}

.review-header {
    margin-top: 70px;
    margin-left: 7%;
    display: flex;
    align-items: center; 
}

.review h3 {
    font-size: 15px;
    color: #3FAB3E;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    /* margin-bottom: 10px; */
}

.review h1 {
    margin-top: 0;
    margin-left: 7%;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    margin-bottom: 40px;
}

.icon {
    margin-right: 8px; 
    font-size: 20px; 
    color: #3FAB3E !important; 
    /* margin-bottom: 10px; */
}

.review-boxes {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 10px;
    margin-left: 7%;
    margin-bottom: 10px;
    position: relative; 
    background-color: #F3F3F3;
}

.review-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 27.5vw; 
    width: 27.5vw;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1),
                -3px 3px 10px rgba(0, 0, 0, 0.1),
                0px 5px 15px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.review-text {
    width: 100%;
    /* padding: 10px; */
    font-size: 12px;
    height: 120px;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    resize: none;
    overflow-y: auto; 
    white-space: pre-wrap; 
    word-wrap: break-word; 
}

.author-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.box-under {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    position: relative;
}

.box-colm {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.adress-under {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.author-name {
    font-weight: bold;
    margin: 0;
    color: #3FAB3E;
    font-size: 18px;
}

.author-address {
    font-size: 14px;
    color: gray;
    margin: 0;
}

/* .review-text::before {
    content: " ";
    position: absolute;
    top: -20px;  
    left: -25px;
    font-size: 30px;
    color: #3FAB3E;
    display: block;
} */
/* 
.review-navigation {
    position: relative;

    display: flex;
    justify-content: space-between;
    width: 90%; 
    gap: 20px;
    margin: 0;
}

.arrow-button {
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgba(63, 171, 62, 0.5); 
    color: white;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    visibility: visible;
    z-index: 10;
    position: absolute;
   
    transform: translateY(-50%); 
}

.arrow-button:first-child {
    left: 3%; 
    top: -130px; 
}

.arrow-button:last-child {
    left: 102%; 
    top: -130px; 
}


.arrow-button:hover {
    background-color: rgba(63, 171, 62, 1); 
    
} */

.review-navigation{
    display: none;
}


@media (max-width: 895px) {
    .review-boxes {
        flex-direction: column; 
        align-items: center; 
        gap: 20px; 
        margin-left: 0; 
        width: 100%; 
    }

    .review-box {
        width: 90%;
        max-width: 500px; 
    }

    .review h1, .review h3 {
        text-align: center; 
    }

    .review{
        align-items: center;
    }

    .review-header{
        margin-left: 0;
    }

    .review h1{
        margin-left: 0;
    }

}
