/* @import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Days+One&subset=latin-ext&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');



.welcome-full-page-image {
    position: absolute;
    top: 70px; 
    left: 0;
    width: 100vw;
    height: 71vh; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-full-page-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome-full-page-image::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1));
    pointer-events: none;
}

.welcome-text-overlay {
    position: absolute;
    top: 30%;
    left: 7%; 
    transform: translateY(-50%); 
    color: white;
    font-family: 'Poppins', sans-serif;
    max-width: 800px; 
    z-index: 1;
}

.welcome-text-overlay h1 {
    font-size: 48px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    margin: 0;
    width: 800px;
}

.welcome-text-overlay p {
    font-size: 1rem;
    margin-top: 10px;
    width: 560px;
    font-family: 'DM Sans', sans-serif;
}

.welcome-action-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #3FAB3E;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    transition: background-color 0.3s ease;
}

.welcome-action-button:hover {
    background-color: green; 
}

.hidden-sign {
    visibility: hidden;
}


.green-rectangle {
    background-color: #3FAB3E;;
    padding: 20px;
    text-align: center;
    margin-top: 70vh; 
    height: auto;
}


.welcome-first-rectangle {
    position: relative; 
    top: 50px; 
    display: flex;          
    align-items: center;      
    gap: 30px;                
}

.welcome-phoneIcon {
    font-size: 30px;          
    color: white;
}

.welcome-first-rectangle h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

.welcome-number-tog h6{
    font-family: 'DM Sans', sans-serif;
    font-size: 9px;
}

.welcome-number-tog h3,
.welcome-number-tog h6 {
  margin: 0;  
}

.welcome-number-tog h3 + h6 {
  margin-top: 1px;  
}

.green-one{
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-right: 8.2vw;
}

.green-one img{
    padding: 20px;
}

.green-one h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

.green-aproval{
    display: flex;
    justify-content: center;
}

.green-one  h3,
.green-one h6 {
    color: white;
    margin-bottom: 0;  
}

.green-one  h3 + h6 {
  margin-top: 1px;  
}

.green-one h6{
    font-family: 'DM Sans', sans-serif;
    font-size: 9px;
    width: 160px;
    text-align: left;
}

.green-col {
   
    flex-direction: column; 
    align-items: center;  
    text-align: center;  
}

@media (max-width: 1285px) {
    .green-one img{
        width: 80px;
        height: 80px;
    
    }

    .green-one{
        padding-right: 0;
        padding: 0;
        margin: 0;
    }

    .green-one  h3{
        font-size: 15px;
    }
}

@media (max-width: 895px) {
    .welcome-text-overlay {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .welcome-text-overlay h1 {
        font-size: 30px;
        width: 100%; 
    }

    .welcome-text-overlay p {
        font-size: 0.8rem;
        width: 100%; 
    }

    .welcome-first-rectangle {
        flex-direction: column;
        align-items: center; 
    }

    .green-one img{
        width: 80px;
        height: 80px;
    
    }

    .green-one{
        padding-right: 0;
        padding: 0;
        margin: 0;
    }

    .green-one  h3{
        font-size: 15px;
    }

    .green-aproval{
        flex-direction: column;
    
    }
}